<%- include('./partials/header'); -%>
    <h1>Home</h1>
    <p><%=homeContent%></p>
    <% blogs.forEach((element)=>{%>
        <h3 class="font-grn"><%=element.blogTitle%></h3>
        <p><%=element.blogPost.slice(0,100)%>... <a href="/blogs/<%=element.blogTitle%>">more</a> </p>
    <%})%>
<%- include('./partials/footer'); -%>